.footer {
    background-color:  #ffffff;
    color: #1A1A1D;
    padding: 20px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .footer-section ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .icon:hover {
    transform: scale(1.2);
    color: #ffcc00;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    font-size: 14px;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
  }
  