
  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    width: 100vw; 
  }
  
  .carousel-headline {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #222;
    margin: 30px;
    padding: 10px 0;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
  }